@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  /* margin-left: 20px;
  margin-right: 20px; */
  padding: 10px;
  margin: 0 auto;
}
body{
  font-family: "Quicksand", serif;
}
.border{
  border-bottom: 1px solid #FEA301;
  margin-top: 5px;
  display: none;
}
.my-nav{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mylogo{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.mylogo h2{
  font-size: 25px;
}
.items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:20px;
  list-style: none;
  
  font-size: 20px;
  
}
.items a{
  text-decoration: none;
}
.li-1 a{
  color: #FEA301;
}
.li-2 a{
  color: #01ACFD;
}
.li-3 a{
  color: #05D4DF;
}
.li-4 a{
  color: #5D58EF;
}
.responsiv-btn{
  display: none;
  font-size: 35px;

}
.btn{
  background-color: #FEA301;
  color: white;
  padding:10px 40px; 
  border-radius: 12px;
  font-size: 15px;
  border: none;
}

/* hero part */
.hero{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin-left: 120px;
  
  
}
.hero-1{
  /* width: 70%; */
  
}
.hero-1 h2{
  font-size: 45px;
  font-weight: 700;
  margin-top: 20px;
}
.hero-1 p{
  color: #111111;
  line-height: 25px;
  font-weight: 600;
  margin-top: 20px;
}
.hero-1 button{
  background-color: black;
  color: white;
  padding:10px 40px; 
  border-radius: 12px;
  font-size: 15px;
  border: none;
  margin-top: 20px;
}
.hero-img{
  width: 100%;
  height: auto;
  
}
.span1{
  color: #FEA301;
}
.span2{
  color: #01ACFD;
}
/* Standard Curiculum */
h2{
  text-align: center;
}
.Curriculum-main{
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  width: 100%;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  margin-top: 10px;
  margin-bottom: 20px;
}
.Curriculum-main h2{
  color: #000000;
  font-size: 40px;
  line-height: 57.5px;
  margin-top: 60px;
  margin-bottom: 80px;
}
.sub-Curriculum{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin-left: 30px;
  gap: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sub-2 h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #202020;
  font-size: 18px;
}
.sub-2 p{
  color: #808080;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 22px;
}
.sub-3 h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #202020;
  font-size: 18px;
}
.sub-3 p{
  color: #808080;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 22px;
}
.sub-4 h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #202020;
  font-size: 18px;
}
.sub-4 p{
  color: #808080;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 22px;
}
.sub-2 a{
  color: #64C8FF;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  padding: 20px 0px;
}
.sub-3 a{
  color: #F0AA00;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  padding: 20px 0px;
}
.sub-4 a{
  color: #8700FF;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  padding: 20px 0px;
}
.sub-2{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 18px;
  margin-bottom: 20px;
  background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);;
  border: 0.94px solid rgb(242, 232, 255);
  
}


.sub-3{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 18px;
  margin-bottom: 20px;
  border-radius: 18px;
  background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  border: 0.94px solid rgb(255, 244, 220);
}
.sub-4{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 18px;
  margin-bottom: 20px;
  border-radius: 18px;
  background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  border: 0.94px solid rgb(242, 232, 255);
}
.arrybtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.arrybtn button{
  background-color: #FEA301;
  font-size: 20px;
  color: white;
  border-radius: 100%;
  border: none;
  padding: 20px  25px ;
  margin-bottom: 20px;
}
.stories{
  
  background:linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.sub-stories{
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sub-stories1 img{
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}

.sub-stories1{
  width: 48%;
  align-self: start;
  background-color: #FFFFFF;
  border-radius: 16px ;
  padding: 10px;
  
}
.sub-stories1 h2{
  padding: 30px 0px;
  text-align: start;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  margin-left: 20px;
}
.sub-stories1 p{
  font-size: 14px;
  color: #666666;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.sub-stories2 h2{
  padding: 30px 0px;
  text-align: start;
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  margin-left: 20px;
}
.abbtn{
  color: white;
  background-color: #3CD8E8;
  border-radius: 50px;
  border: none;
  padding: 10px  20px;
  font-size: 15px;
  margin-top: -2%;
  margin-left: 20px;
  margin-bottom: 10px;
  position: absolute;
}
.abbtn2{
  color: white;
  background-color: #95B226;
  border-radius: 50px;
  border: none;
  padding: 10px  20px;
  font-size: 15px;
  margin-top: -2%;
  margin-left: 20px;
  margin-bottom: 10px;
  position: absolute;
}
.abbtn3{
  color: white;
  background-color:#5D58F0;
  border-radius: 50px;
  border: none;
  padding: 10px  20px;
  font-size: 15px;
  margin-top: -2%;
  margin-left: 20px;
  margin-bottom: 10px;
  position: absolute;
}
.abbtn4{
  color: white;
  background-color: #95B226;
  border-radius: 50px;
  border: none;
  padding: 10px  20px;
  font-size: 15px;
  margin-top: -2%;
  margin-left: 20px;
  margin-bottom: 10px;
  position: absolute;
}
.abbtn5{
  color: white;
  background-color: #95B226;
  border-radius: 50px;
  border: none;
  padding: 10px  20px;
  font-size: 15px;
  margin-top: -2%;
  margin-left: 20px;
  margin-bottom: 10px;
  position: absolute;
}
.sub-stories2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.mini-stories{
  background-color: #FFFFFF;
  border-radius: 16px ;
  width: 252px;
}
.storiimg{
  border-radius: 16px 16px 0px 0px;
  width: 100%;
}


@media only screen and (max-width:576px) {
  .responsiv-btn{
    display: block;
  }
  .logo-h2{
    display: none;
  }
  .border{
    display: block;
  }
  .items{
    display: none;
  }
  .btn{
    display: none;
   }
   .hero{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  .hero-1{
    order: 1;
    text-align: center;
  }
  .hero-1 h2{
    font-size: 35px;
  }
  .hero-1 p{
    font-size: 18px;
    line-height: 20px;
  }
  .img-div{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }

  .sub-Curriculum{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 20px;

  }
  .sub-2 , .sub-3 , .sub-4{
    width: 95%;
  }
  .Curriculum-main h2{
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .arrybtn{
    display: none;
  }
  .sub-stories1{
    display: none;
  }
  .sub-stories2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: auto;
  }
  .mini-stories{
    background-color: #FFFFFF;
    border-radius: 16px ;
    width:auto;
  }
  .abbtn5{
    font-size: 8px;
    margin-top: -5%;
    margin-left: 10px;
    padding: 10px 20px;
    
  }
  .abbtn4{
    font-size: 10px;
    margin-top: -5%;
    margin-left: 10px;
    padding: 10px;
    
  }
  .abbtn3{
    font-size: 10px;
    margin-top: -5%;
    margin-left: 10px;
    padding: 10px;
    
  }
  .abbtn2{
    font-size: 10px;
    margin-top: -5%;
    margin-left: 10px;
    padding: 10px;
    
  }
  .sub-stories2 h2{
    
   
    font-size: 12px;
    
  }
}