@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  /* margin-left: 20px;
  margin-right: 20px; */
  padding: 10px;
  margin: 0 auto;
}
body{
  font-family: "Quicksand", serif;
}

.my-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mylogo{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.mylogo h2{
  font-size: 25px;
}
.items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:20px;
  list-style: none;
  
  font-size: 20px;
  
}
.items a{
  text-decoration: none;
}
.li-1 a{
  color: #FEA301;
}
.li-2 a{
  color: #01ACFD;
}
.li-3 a{
  color: #05D4DF;
}
.li-4 a{
  color: #5D58EF;
}
.responsiv-btn{
  display: none;

}
.btn{
  background-color: #FEA301;
  color: white;
  padding:10px 40px; 
  border-radius: 12px;
  font-size: 15px;
  border: none;
}
.hero{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin-left: 120px;
  
  
}
.hero-1{
  /* width: 70%; */
  
}
.hero-1 h2{
  font-size: 45px;
  font-weight: 700;
  margin-top: 20px;
}
.hero-1 p{
  color: #111111;
  line-height: 25px;
  font-weight: 600;
  margin-top: 20px;
}
.hero-1 button{
  background-color: black;
  color: white;
  padding:10px 40px; 
  border-radius: 12px;
  font-size: 15px;
  border: none;
  margin-top: 20px;
}
.hero-img{
  width: 100%;
  height: auto;
  
}
.span1{
  color: #FEA301;
}
.span2{
  color: #01ACFD;
}



@media only screen and (max-width:576px) {
  .responsiv-btn{
    display: block;
  }
  .items{
    display: none;
  }
  .btn{
    display: none;
   }
   .hero{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  .hero-1{
    order: 1;
    text-align: center;
  }
  .hero-1 h2{
    font-size: 35px;
  }
  .hero-1 p{
    font-size: 18px;
    line-height: 20px;
  }
  .img-div{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }
}